---
import SocialPill from "./SocialPill.astro";
import LinkedInIcon from "../components/icons/linkedin.astro";
import GitHubIcon from "../components/icons/github.astro";

const PROJECTS = [
   {
    title: "Marshmallow Player",
    description:
      "Este juego lo desarrollé para practicar la parte física de R3F usando Rapier, sumando un personaje kawaii (mini marshmallow).",
    link: "https://mini-marshmallow.netlify.app/",
    github: "https://github.com/brendasutara/mini-marshmallow",
    image: "assets/mini/Screenshot_1.png",
    tags: ["React", "React Three Fiber", "Three.js", "Rapier"],
  },
  {
    title: "Trello Clone",
    description:
      "Este proyecto es un clon de Trello desarrollado en Angular con CDK Angular y estilizado con Tailwind CSS. Ofrece una experiencia similar a la de Trello, con funcionalidades de arrastrar y soltar, manejo de listas y tablas, además de mejoras en rendimiento y experiencia de usuario. Visita la demo en Vercel para verlo en acción.",
    link: "https://trello-clone-pi-eight.vercel.app/app/boards",
    github: "https://github.com/brendasutara/trello-clone",
    image: "assets/trello/board-trello.png",
    tags: ["Angular", "Tailwind CSS"],
  },
 
];
---

{
  PROJECTS.map(({ title, description, image, link, github, tags }) => (
    <article class="pb-10">
      <h3 class="text-2xl font-semibold mb-4 text-pink-400 dark:text-white">
        {title}
      </h3>
      <p class="mb-4 text-md font-medium text-white text-pretty dark:text-gray-400">
        {description}
      </p>
      <div class="flex gap-x-4 mb-6">
        <SocialPill href={github}>
          <GitHubIcon class="size-4 md:size-6" />
          Repositorio
        </SocialPill>
        <SocialPill href={link}>
          <LinkedInIcon class="size-4 md:size-6" />
          Ir al proyecto
        </SocialPill>
      </div>
      <img
        class="rounded-lg mb-4"
        src={image}
        alt={`Captura de pantalla del proyecto ${title}`}
      />
      <ul class="flex mb-4 gap-x-3 text-sm font-medium leading-none text-gray-400 dark:text-gray-500">
        {tags.map((tag) => (
          <li>+ {tag}</li>
        ))}
      </ul>
    </article>
  ))
}
