---
import SocialPill from "./SocialPill.astro";
import LinkedInIcon from "../components/icons/linkedin.astro";
import GitHubIcon from "../components/icons/github.astro";

const PROJECTS = [
  {
    title: "Trello Clone",
    description:
      "Este proyecto es un clon de Trello desarrollado en Angular con CDK Angular y estilizado con Tailwind CSS. Ofrece una experiencia similar a la de Trello, con funcionalidades de arrastrar y soltar, manejo de listas y tablas, además de mejoras en rendimiento y experiencia de usuario. Visita la demo en Vercel para verlo en acción.",
    link: "https://trello-clone-pi-eight.vercel.app/app/boards",
    github: "https://github.com/brendasutara/trello-clone",
    image: "https://i.imgur.com/sbITtmK.jpeg",
    tags: ["Angular", "Tailwind CSS"],
  },
  {
    title: "Tienda Online con React.js",
    description:
      "Tienda Online con React.js, Vite.js para el desarrollo, TailwindCSS para estilos y React Router DOM para la navegación. Integración con Platzi Fake Store API para datos de productos. Filtrado, detalles de productos, carrito de compras, checkout y historial de compras",
    link: "https://shoppiecommerce.netlify.app/",
    github: "https://github.com/brendasutara/e-commerce-react",
    image: "https://i.imgur.com/fsJ6msa.jpeg",
    tags: ["React", "Vite", "Tailwind CSS"],
  },
  {
    title: "To Do App",
    description:
      "Esta aplicación permite a los usuarios gestionar sus tareas diarias de manera eficiente. Puedes agregar, marcar como completadas y eliminar tareas de tu lista.",
    link: "https://brendasutara.github.io/react-app/",
    github: "https://github.com/brendasutara/react-app",
    image: "https://i.imgur.com/Ipmd8d1.jpeg",
    tags: ["React", "CSS"],
  },
];
---

{
  PROJECTS.map(({ title, description, image, link, github, tags }) => (
    <article class="pb-10">
      <h3 class="text-2xl font-semibold mb-4 text-pink-400 dark:text-white">
        {title}
      </h3>
      <p class="mb-4 text-md font-medium text-white text-pretty dark:text-gray-400">
        {description}
      </p>
      <div class="flex gap-x-4 mb-6">
        <SocialPill href={github}>
          <GitHubIcon class="size-4 md:size-6" />
          Repositorio
        </SocialPill>
        <SocialPill href={link}>
          <LinkedInIcon class="size-4 md:size-6" />
          Ir al proyecto
        </SocialPill>
      </div>
      <img
        class="rounded-lg mb-4"
        src={image}
        alt={`Captura de pantalla del proyecto ${title}`}
      />
      <ul class="flex mb-4 gap-x-3 text-sm font-medium leading-none text-gray-400 dark:text-gray-500">
        {tags.map((tag) => (
          <li>+ {tag}</li>
        ))}
      </ul>
    </article>
  ))
}
